

html {
  background-color: rgb(202, 202, 202);
}


.bug-search-container {
  display: flex;
  justify-content: center;
  height: 90vh;
  margin-top: 5vh;
  width: 100%;
}

#bug-search-component {

  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  overflow: scroll;
}

#bug-search-component >
div {
  border: 2px solid rgb(189, 218, 255);
  width: 60%;
  min-height: 40px;
  margin-top: 20px;
  background-color:rgb(253, 246, 235);
}

#bug-search-component
#input-bug-search {
  margin-top: 50px;
  min-height: 40px;
  border: 2px solid rgb(204, 204, 204);
}

#input-bug-search
input {
  width: calc(100% - 4px);
  height: calc(100% - 2px);
  background-color: rgb(232, 232, 232);
  border: none;
}

#input-bug-search input:focus {
  background-color: none !important;
}



